body {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: #002d62;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

h1 {
    color: #002d62;
}

form input, form textarea {
    display: block;
    margin: 8px 0;
    padding: 8px;
    width: 60%;
}

button {
    padding: 10px;
    background: #002d62;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

table, th, td {
    border: 1px solid #aaa;
}

th {
    background: #002d62;
    color: white;
    padding: 4px;
}

td {
    padding: 6px;
}
