{% extends "base.html" %}
{% block title %}Historial{% endblock %}

{% block content %}
<h1>Historial</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Entidad</th>
        <th>Acción</th>
        <th>Descripción</th>
        <th>Fecha</th>
    </tr>

    {% for h in historial %}
    <tr>
        <td>{{ h.idHistorial }}</td>
        <td>{{ h.entidad }}</td>
        <td>{{ h.accion }}</td>
        <td>{{ h.descripcion }}</td>
        <td>{{ h.fecha }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}